html, body {
  font-family: sans-serif;
  background-image: url("../img/back-ground.jpg");
  height: 100%;
}
* {
  box-sizing: border-box;
}
.corner{
  float: right;
}
.container {
  width: 945px;
  margin: 0 auto;
  display: block;
}
.card {
  display: inline-block;
  margin: 10px;
  height: 250px;
  width: 200px;
  text-align: center;
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
  border: 1px solid black;
}
.unactive {
  background-image: url("../img/card.jpg");
  background-size: 200px 250px;
  background-repeat: no-repeat;
}
.selected {
  background-image: url("../img/card-front.jpg");
  background-size: 200px 250px;
  background-repeat: no-repeat;
}
.card:hover {
  cursor: pointer;
  border: 3px solid black;
}
.card h2 {
  margin-top: 80px;
  font-size: 60px;
}
.score{
  font-weight: bold;
  height: 8em;
  width: 8em;
  padding: 2.5em 1.5em;
  margin-left: 85%;
  background-image: url("../img/score.png");
  background-size: 125px 100px;
  background-repeat: no-repeat;
}

.creator{
  font-weight: bold;
  text-decoration: none;
  background-color: #2e1b47;
  margin: 2%;
  color: white;
  float: right;
}
h1 {
  /*margin-top: 70px;*/
  color: white;
  text-align: center;
}
.win {
  font-size: 100px;
  color: #fff;
  text-shadow: #fff 0 0 15px, #fff 0 0 25px, #ff00de 0 0 30px, #ff00de 0 0 40px, #f0f 0 0 50px, #f0f 0 0 60px;
}
.paper{
  background-image: url("../img/paper.png");
  background-repeat: no-repeat;
  background-position: center;
}
button {
  border: 1px solid black;
  font-weight: bold;
  color: black;
  background-color: transparent;
  font-size: 20px;
  margin: 5em 0;
  position: relative;
  left: 38%;
  padding: 1em 2em;
}
button:hover{
  color: white;
  text-shadow: #fff 0 0 15px, #fff 0 0 25px, #ff00de 0 0 30px, #ff00de 0 0 40px, #f0f 0 0 50px, #f0f 0 0 60px;
  cursor: pointer;
}
